<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CROP</title>
    <link rel="stylesheet" href="./node_modules/cropperjs/dist/cropper.min.css">

    <style>
        img {
            display: block;
            width: 500px;
            height: 600px;
            max-width: 100%;
        }

        .container {
            display: flex;
            justify-content: center;
            justify-items: center;
        }

        #output {
            margin: 0 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <img src="./1689687142809_5.jpg.jpg" id="image">
            <button id="cropImageBtn">Crop Image</button>
        </div>

        <img src="" id="output">
    </div>

    <script src="./node_modules/cropperjs/dist/cropper.min.js"></script>
    <script>
        const image = document.getElementById('image');
        const cropper = new Cropper(image, {
            aspectRatio: 800/800,
            viewMode: 0
        });

        document.getElementById('cropImageBtn').addEventListener('click', function() {
            const croppedCanvas = cropper.getCroppedCanvas();
            if (croppedCanvas) {
                const croppedImage = croppedCanvas.toDataURL("image/png");
                console.log('hiiiiiiiiiiiiiii      ',croppedImage)
                document.getElementById('output').src = croppedImage;
            }
        });
    </script>
</body>

</html>
