<!DOCTYPE html>
<html>
<head>
  <title>Center Card Title</title>
  <style>
    

    .main-wrap {
      text-align: center;
    }

    .content-main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .content-header {
      text-align: center;
    }

    .card-title {
      font-size: 24px;
      font-weight: bold;
    }
  </style>
</head>

  <div class="screen-overlay"></div>

  <main class="main-wrap">
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">FashX Admin Dashboard</h2>
          <p></p>
        </div>
      </div>
    </section> <!-- content-main end// -->
  </main>

</html>
