<head>
   
    <title>FashX Admin Dashboard</title>
 
    
    <link rel="icon" href="assets/imgs/theme/admin.png" type="image/png"/>

    <!-- Template CSS -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
</head>


<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
                <Span>FashX Dashboard</Span>
            </a>
            
        </div>

        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/add-product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Add Products</span>
                    </a>

                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>

                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-shop"></i>
                        <span class="text">Category</span>
                    </a>

                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Products</span>
                    </a>

                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shop"></i>
                        <span class="text">Orders</span>
                    </a>

                </li>

            </ul>
            <hr>
           
            <br>
            <br>
        </nav>
    </aside>

    <main class="main-wrap">
<header class="main-header navbar">
            <div class="col-search">
                
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                   
                    <li class="dropdown nav-item">
                        <a href="/admin/logout">LOGOUT</a>
                     
                    </li>
                </ul>
            </div>
        </header>

    </main>
</body>



</html>