

<head> 

{{#if salesp}}
    <title>FashX Sales Report</title>

{{else}}
    <title>FashX Admin Dashboard</title>
{{/if}}


    <link rel="icon" href="assets/imgs/theme/admin.png" type="image/png" />

    <!-- Template CSS -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
   
</head>


<body>
    <div class="screen-overlay"></div>
    <button class="menu-toggle btn btn-icon btn-mobile me-auto" id="menuToggle">
        <i class="material-icons md-apps"></i>
    </button>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
                <Span>FashX Dashboard</Span>
            </a>

        </div>

        <nav>
            <ul class="menu-aside">
                <li class="menu-item {{#if dap}}active{{/if}}">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item {{#if adp}}active{{/if}}">
                    <a class="menu-link" href="/admin/add-product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Add Products</span>
                    </a>

                </li>
                <li class="menu-item {{#if usp}}active{{/if}}">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>

                </li>
                <li class="menu-item {{#if ctp}}active{{/if}}">
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-shop"></i>
                        <span class="text">Category</span>
                    </a>

                </li>

                <li class="menu-item {{#if prdp}}active{{/if}}">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Products</span>
                    </a>

                </li>

                <li class="menu-item {{#if ordp}}active{{/if}}">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shop"></i>
                        <span class="text">Orders</span>
                    </a>

                </li>
                <li class="menu-item {{#if coup}}active{{/if}}">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-label"></i>
                        <span class="text">Coupons</span>
                    </a>

                </li>
                <li class="menu-item {{#if banp}}active{{/if}}">
                    <a class="menu-link" href="/admin/banner"> <i class="icon material-icons md-star"></i>
                        <span class="text">Banner</span>
                    </a>

                </li>
                <li class="menu-item {{#if salesp}}active{{/if}}">
                    <a class="menu-link" href="/admin/sales"> <i class="icon material-icons md-report"></i>
                        <span class="text">Sales Report</span>
                    </a>

                </li>

            </ul>
            <hr>

            <br>
            <br>
        </nav>
    </aside>

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">

            </div>
            <div class="col-nav">

                <ul class="nav">

                    <li class="dropdown nav-item">
                        <a href="/admin/logout">LOGOUT</a>

                    </li>
                </ul>
            </div>
        </header>

    </main>
   
</body>



</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />

<!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>


<!-- DataTables Buttons CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

<!-- DataTables Buttons Extension JavaScript -->
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>

<!-- pdfMake -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>

<!-- jszip -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>