<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
  <div class="container">
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-8">
          <h3>Billing Details</h3>
          <form class="row contact_form" action="#" method="post" novalidate="novalidate">
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="first" name="fname" />
              <span class="placeholder" data-placeholder="First name"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="last" name="lname" />
              <span class="placeholder" data-placeholder="Last name"></span>
            </div>
           <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="number" name="number" />
              <span class="placeholder" data-placeholder="Phone number"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="email" name="email" />
              <span class="placeholder" data-placeholder="Email Address"></span>
            </div><div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" id="address" name="address" />
              <span class="placeholder" data-placeholder="House No/Building Name"></span>
            </div>
          
            <div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" id="city" name="city" />
              <span class="placeholder" data-placeholder="Town/City"></span>
            </div>
           
            <div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" id="district" name="district" />
              <span class="placeholder" data-placeholder="District"></span>
            </div>
           
            <div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" id="zip" name="zip"/>
               <span class="placeholder" data-placeholder="Postal Code"></span>
            </div>

         
          </form>
        </div>
        <div class="col-lg-4">
          <div class="order_box">
            
            
            <ul class="list list_2">
            
              
              <li>
                <a href="#">Subtotal
                  <span>₹2210</span>
                </a>
              </li>
              
              <li>
                <a href="#">Shipping
                  <span>₹50</span>
                </a>
              </li>
              <li>
                <a href="#" style="font-size: large; font-weight: bold;">Total
                  <span>₹2260</span>
                </a>
              </li>

            </ul>

            
            <div class="payment_item active">
              <div class="radion_btn">
                <input type="radio" id="f-option6" name="selector" />
                <label for="f-option6">Cash On Delivery</label>
             
                <div class="check"></div>
              </div>
              
            </div>
            
            <a class="main_btn" href="#">Confirm Order</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->
