

  <!--================PRODUCTS LISTING=================-->
  <style>
    /* CSS styles for the hover effect */
    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    }
  </style>

  <section>
    <div class="container">
      <div class="row">
        {{#each products}}
        <div class="col-md-2">
          <div class="card mx-auto mt-3">
            <img class="mx-auto img-thumbnail" src="/images/{{this.image.[0]}}" width="auto" height="auto" />
            <div class="card-body text-center">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">{{this.productName}}</h5>
                <p class="card-text">₹{{this.regularPrice}}</p>
                <a href="/single-product/{{this._id}}" class="btn btn-outline-primary " style="margin-bottom: 15px; width: 120px;">View Details</a><br />
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</body>


